@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
}
html {
  font-family: "Roboto";
  margin: auto;
  width: 1480px;
  height: 1282px;
  border: 1px solid lightgrey;
}
body {
  background: white;
}
.main-container {
  width: 1280px;
  margin: auto;
}
/*-----------------------------header---------------------------*/
.header {
  width: 400px;
  margin-top: 63px;
  margin-left: 98px;
}
.header a {
  font-size: 80px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.header a > span {
  color: #4bcaff;
}
/*-----------------------------nav---------------------------*/
nav {
  margin-top: 38px;
  height: 72px;
}
.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 985px;

  padding-left: 162px;
  padding-right: 133px;
  background: #35444f;
  height: 72px;
}
.ul-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-left: 1px solid white;
}
.ul-nav li:nth-child(4) {
  border-right: 1px solid white;
}
.ul-nav li a {
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}
.ul-nav li:hover {
  background: #222f3a;
}
/*-----------------------------main---------------------------*/
main {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
/*-----------------------------aside---------------------------*/
aside {
  min-width: 344px;
  border: 1px solid grey;
}
.ul-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 399px;
}
.ul-aside li {
  padding-top: 27px;
  padding-left: 44px;
  height: 81px;
}
.ul-aside li a {
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  text-decoration: none;
}
.ul-aside li a:hover {
  padding-left: 20px;
  color: black;
  text-decoration: none;
}
.ul-aside li:hover {
  background: #dbdbdb;
}
/*-----------------------------section---------------------------*/
section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
div.img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  border: 1px solid grey;
}
img {
  width: 320px;
  height: 380px;
  transition: 1s;
}
img:hover {
  width: 384px;
  height: 452px;
}
p {
  margin: 0;
  margin-top: 37px;
  width: 885px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
p:nth-child(2) {
  margin-top: 34px;
  height: 109px;
}
/*-----------------------------footer---------------------------*/
footer {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.ul-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  width: 875px;
  height: 28px;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.ul-footer > li a {
  color: #0c1927;
  text-decoration: none;
}
.ul-footer > li a:hover {
  color: #3181a6;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  display: flex;
  align-items: center;
  width: 190px;
  height: 69px;
  padding-right: 40px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
